.card {
  width: 200px;
  height: 408px;

  // background-color: grey;
  border: 1px solid rgba(243, 243, 243, 1);
  border-radius: 5px;
  box-sizing: border-box;

  &__image {
    display: block;
    width: 160px;
    height: 134px;
    margin-inline: 19px;
    margin-top: 32px;
  }
}
