@import './utilis/mixins';
@import './blocks/cards';
@import './blocks/stars';
@import './blocks/content';
@import './blocks/buy-button';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap'); /* stylelint-disable-line */

body {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}
